<section class="main-content">
	<div class="row">
		<div class="col-xs-12 col-sm-7">
			<h2>Welcome to Adaptive Portfolios, </h2>
			<h2> "First Name"!</h2>
			<h4> Your account number is: XXXX </h4>
		</div>

		<div class="col-xs-12 col-sm-4">

		</div>

	</div>
</section>